@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollBar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollBar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and other WebKit browsers */
}
